.pipe {
  position: absolute;
  width: 70px;
  z-index: 1;
}

.pipe-section {
  position: absolute;
  width: 100%;
  background-color: green;
}

.top-pipe {
  top: 0;
  transform: scaleY(-1);
  transform-origin: center top;
}

.bottom-pipe {
  bottom: 0;
}

/* Estilos adicionales para el pipe-container */
.pipe-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: skyblue;
}